numpy
pandas
fastapi
uvicorn[standard]
torch
pillow
sqlalchemy
alembic
python-dotenv
pydantic-settings
torchvision
python-multipart
authlib
httpx
python-jose
itsdangerous
passlib
pydantic[email]
scikit-learn